
h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(35, 8, 241);
   }

div.intro.text{
    text-align: center;
    align-content: center;
    color: black;
    width: 50px;
    } 


#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: absolute;
    
 }
 
 #footer ul {
    list-style-type: none;
 }
 
 #footer li {
    display: inline-block;
    margin: 0 10px;
    color: gray;
 }

 #footer a {
    color: gray;
 }
 
 nav ul {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav li {
   display: inline-block;
   margin: 0 10px;
}

nav#brand{
   text-align: center;
   font-size: 50px;
   color: rgb(35, 8, 241);
}