h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(35, 8, 241);
   }

body div {
    margin: 10px;
}

p.instruction{
    text-align: center;
}

form.trans_form{
    text-align: center;
    background-color: black;
    color: aliceblue;

}




#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: absolute;
    
 }
 
 #footer ul {
    list-style-type: none;
 }
 
 #footer li {
    display: inline-block;
    margin: 0 10px;
    color: gray;
 }

 #footer a {
    color: gray;
 }
 
 nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav#brand{
    text-align: center;
    font-size: 50px;
    color: rgb(35, 8, 241);
}